apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  default.conf: |
    # Este é o conteúdo do seu arquivo, com a correção para /metrics
    server {
        listen 80;

        # Rota principal para seu app Node.js
        location / {
            proxy_pass http://trabaio-service:3123;
        }

        # Rota para as métricas do seu app Node.js
        location /metrics {
            proxy_pass http://trabaio-service:3123;
        }

        # Rota para o Grafana
        location /grafana/ {
            proxy_pass http://grafana:3000;
            proxy_set_header Host $host;
        }
    }